html {
  font-size: 1em;
}
body {
  background-color: #000;
}
.container {
  width: 1200px;
  margin: 0em auto;
}
.header {
  padding: 1em;
}
.header img {
  width: 140px;
}
.header img:last-child {
  float: right;
  margin-top: 1em;
}
.main {
  background-color: #fff;
  height: 31.250em;
  padding: 0 6em;
  position: relative;
  z-index: 1;
  min-width: 1200px;
}
.ryu {
  width: 659px;
  height: 494px;
  float: left;
}
.ryu > div {
  width: 659px;
  height: 494px;
  position: absolute;
}
.ryu-still {
  background: url(../images/ryu-standing-still.png) 0 0 no-repeat;
}
.ryu-ready {
  background: url(../images/ryu-ready-position.gif) 0 0 no-repeat;
  display: none;
}
.ryu-throwing {
  background: url(../images/ryu-throwing-hadouken.png) 0 0 no-repeat;
  display: none;
}
.ryu-cool {
  background: url(../images/ryu-cool.gif) 0 0 no-repeat;
  display: none;
}
.hadouken {
  display: none;
  background: url(../images/hadouken.gif) 0 0 no-repeat;
  width: 156px;
  height: 90px;
  z-index: 10;
  float: left;
  position: absolute;
  left: 36em;
  top: 10em;
}
.instructions {
  font-family: 'Rock Salt', cursive, sans-serif;
  font-size: 1.3em;
  text-align: center;
  padding-top: 2em;
}
.instructions p {
  display: none;
}
.trademark {
  color: #fff;
  text-align: center;
  font-size: .8em;
}
.trademark a {
  color: teal;
}
